# Reusable config
x-common: &common
  container_name: backend
  ports: ["3000:3000"]
  healthcheck:
    test: [ "CMD", "curl", "-f", "http://localhost:3000/api" ]
  working_dir: "/app"

services:
  # Local dev - docker compose up dev
  dev:
    profiles: ["dev"]
    entrypoint: ["sh", "-c", "npm i --ignore-scripts && npm run start"]
    image: node:18
    volumes: ["./backend:/app:z", "/app/node_modules"]
    <<: *common

  # Local test - docker compose up dev
  test:
    profiles: ["test"]
    entrypoint: ["sh", "-c", "npm i --ignore-scripts && npm run test"]
    image: node:18
    volumes: ["./backend:/app:z", "/app/node_modules"]
    <<: *common

  # Container/deploy - docker compose up deploy
  deploy:
    profiles: ["deploy"]
    build:
      context: backend
    <<: *common
